// @import url(reset.css);

*{box-sizing: border-box;}

body { 
    background-color: rgb(241, 234, 234);
}

#profile { 
    padding: 100px 30px;
    margin: 100px auto; 
    border: 2.5px solid rgb(219, 205, 205); 
    width: 500px;
    height: 650px;
    /* padding: 100px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

img { 
    margin-bottom: 10px;
    /* padding-bottom: 10px; */

}


.login-input-button {
    width: 90%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* /// >는 자손이 아니라 자식까지에게만 영향미침  */


.login-input-button input { 
    font-size: 17px;
    font-weight: bold;
    color: #4d4949;
    opacity: 0.7;
    border: 2.5px solid rgb(218, 207, 207);
    padding: 13px;
    background-color:rgb(245, 239, 239) ;
    width: 100%;
    border-radius: 5px;
    display: flex; 
    justify-content: flex-start;
    margin: 8px;
} 

.login-input-button button{
    background-color: #0096f6;
    opacity: 0.4;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 13px;
    width: 100%;
    font-size: 21px;
    border-radius: 10px;
    border: 0.5px solid #0096f6;
    margin: 10px;
}

p { 
    color:#125885;
    margin-top: 120px;
    font-weight: bold;
    opacity: 0.6;
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 17px;
}