.coffee-item {
  width: 250px;
  height: 250px;
  margin: 0px auto;
  overflow: hidden;
}

.coffee-item img {
  width: 100%;
  transition: all 0.5s ease;
}

.coffee-item:hover img {
  transform: scale(1.2);
}

.coffee-list .coffee-name {
  width: 250px;
  margin-bottom: 40px;
  text-align: center;
}
